.image {

    transform: rotate(270deg);
    margin-right: 70px;
    float: right;
  }
.rounded {
    border-radius: 100%;
}

h1 {
   color: blue;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 3em;
}
body {
    background-color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;
}
p {
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5em;
}
button {
    width: 400px;
    background-color: green;
    padding: 10px 20px;
    color: black;
    text-align: center;
    border: 1px solid blueviolet;
    border-radius: 25px;
    font-size: 16.6px;
    font-weight: 700;
    margin: 15px;
}


.timeline, th, td {
    border-color:  blue;
    color: brown;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5em;
}
#totop {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 30px;
    border: 3px solid #73AD21;
    font-style: inherit;
}
